

:root {
    --inter: "Inter", sans-serif;

    /* Font Weight */
    --extra-bold: 800;
    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
    --regular: 400;

    /* Heading Web */
    --web-h1-size: 70px;
    --web-h2-size: 50px;
    --web-h3-size: 35px;
    --web-h4-size: 26px;
    --web-h5-size: 24px;
    --web-h6-size: 20px;
    --web-h7-size: 18px;
    --web-h8-size: 16px;
    --web-h9-size: 14px;

    --web-h1-line-height: 80px;
    --web-h2-line-height: 60px;
    --web-h3-line-height: 44px;
    --web-h4-line-height: 36px;
    --web-h5-line-height: 34px;
    --web-h5-line-height-sm: 28px;
    --web-h6-line-height: 30px;
    --web-h7-line-height: 28px;
    --web-h8-line-height: 26px;
    --web-h9-line-height: 24px;

    /* Web Paragraph */
    --web-p1-size: 18px;
    --web-p2-size: 16px;
    --web-p3-size: 14px;

    /* Web Paragraph Line Height */
    --web-p1-line-height: 28px;
    --web-p2-line-height: 26px;
    --web-p3-line-height: 24px;

    /* Special Text Web */
    --homemade-apple: "Homemade Apple", cursive;
    --web-h1-special-text-size: 32px;
    --web-h2-special-text-size: 18px;

    /* Heading Tablet */
    --tablet-h1-size: 50px;
    --tablet-h2-size: 38px;
    --tablet-h3-size: 27px;
    --tablet-h4-size: 21px;
    --tablet-h5-size: 18px;
    --tablet-h6-size: 15px;
    --tablet-h7-size: 12px;

    /* Tablet Line Height */
    --tablet-h1-line-height: 60px;
    --tablet-h2-line-height: 48px;
    --tablet-h3-line-height: 37px;
    --tablet-h4-line-height: 31px;
    --tablet-h5-line-height: 28px;
    --tablet-h6-line-height: 25px;
    --tablet-h7-line-height: 24px;

    /* Paragraph Tablet */
    --tablet-p1-size: 16px;
    --tablet-p2-size: 13px;
    --tablet-p3-size: 10px;

    --tablet-p1-line-height: 22px;
    --tablet-p2-line-height: 20px;
    --tablet-p3-line-height: 18px;
    /* Heading Mobile */
    --mobile-h1-size: 36px;
    --mobile-h2-size: 26px;
    --mobile-h3-size: 18px;
    --mobile-h4-size: 14px;
    --mobile-h5-size: 12px;
    --mobile-h6-size: 10px;
    --mobile-h7-size: 8px;

    --mobile-h1-line-height: 46px;
    --mobile-h2-line-height: 36px;
    --mobile-h3-line-height: 28px;
    --mobile-h4-line-height: 16px;
    --mobile-h4-line-height-large: 24px;
    --mobile-h5-line-height: 22px;
    --mobile-h6-line-height: 20px;
    --mobile-h7-line-height: 16px;

    /* Paragraph Mobile */
    --mobile-p-regular: 400;
    --mobile-p1-size: 12px;
    --mobile-p2-size: 10px;
    --mobile-p3-size: 8px;

    --mobile-p1-line-height: 22px;
    --mobile-p2-line-height: 20px;
    --mobile-p3-line-height: 18px;

    /* Special Text Mobile */
    --mobile-h1-special-text-size: 16px;
    --mobile-h2-special-text-size: 10px;

    /* Text Color */
    --text-dark: #1c110a;
    --text-light: #576165;

    /* Colors */
    --primary-color-orange: #ff9f66;
    --primary-color-base-light: #FFB081;
    --primary-color-light: #FFF1E8;
    --secondary-color-yellow: #EDC988;
    --primary-color-green: #258675;
    --primary-color-green2: #45A090;
    --secondary-color-pink: #FEAEA3;
    --secondary-color-deep-pink: #FF7D6B;
    --stroke: #B0B4C0;
    --stroke2: #CFCFCF;
    --stroke3: #F4F5F7;
}
