@import url("var.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--inter);
  background-color: #ffffff;
}
#round {
  background-image: url(/assets/corner.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 45rem;
  height: 506px;
  z-index: -1;
}
/* Props */
.ellipse {
  position: absolute;
}
.e1 {
  top: 63%;
  left: 47%;
}
.e2 {
  top: 23%;
  height: 23px;
  left: 35%;
  rotate: 90deg;
}
.e3 {
  top: 65%;
  right: 3%;
}
.e4 {
  top: 50%;
  left: 2%;
  height: 12px;
}
.e5 {
  top: 83%;
  right: 8%;
  height: 25px;
}
.e6 {
  top: 75%;
  right: 15%;
  height: 25px;
}
.e7 {
  top: 93%;
  right: 3%;
  height: 27px;
}
.e8 {
  top: 83%;
  left: 2%;
  height: 7px;
}
.e9 {
  top: 5%;
  left: 0%;
  height: 17px;
}
.e10 {
  top: 95%;
  right: -4%;
  height: 27px;
  rotate: 90deg;
}
.e11 {
  top: 30%;
  left: 15%;
}
.e12 {
  top: 75%;
  left: 10%;
}
.e13 {
  top: 45%;
  right: 13%;
}
.e14 {
  top: 105%;
  right: 10%;
}
.e15 {
  top: 75%;
  right: 5%;
}
.container {
  margin: 0 auto;
  /* max-width: 1170px; */
  max-width: 81%;
  width: 100%;
  position: relative;
}
.row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}
.spacing{
  padding:150px 0;
}
.section-head {
  font-size: var(--WH2Size);
  font-weight: var(--bold);
  line-height: var(--WH2LineHeight);
}

.description{
  font-weight: var(--regular);
  color: var(--textLight);
}

.description-hero-footer{
  font-size: var(--WP1Size);
  line-height: var(--WP1LineHeight);
}

.description-section{
  font-size: var(--WP2Size);
  line-height: var(--WP2LineHeight);
}

.btn {
  padding:11px 27px;
  font-size: var(--wH8Size);
  line-height: var(--WH8LineHeight);
  font-weight: var(--semi-bold);
  border-radius: 4px;
  width: fit-content;
}
.btn--solid{
  background-color: var(--primaryColorOrange);
  color: white;
  border: none;
}
.btn--plain{
  padding: 11px 0;
  background-color: transparent;
  color: var(--textDark);
  border: none;
}
.btn--soft{
  background-color: var(--primaryColorLight);
  color: var(--primaryColorOrange);
  border: 1px solid var(--primaryColorOrange);
}
/* Navigation bar */

.navigation {
  position: absolute;
  top: 36px;
  left: 50%;
  width: inherit;
  transform: translateX(-50%);
  border: none;
  border-radius: 6px;
  padding: 1.31rem 2rem;
  background-color: #ffffff;
  box-shadow: 0px 18px 36px #0000000a;
  z-index: 1;
  .left {
    display: flex;
    align-items: center;
    .navLinks {
      display: flex;
      margin: 0 4.37rem;
      gap: 2.62rem;
      .navLink {
        text-decoration: none;
        font-size: var(--WP2Size);
        color: var(--textLight);
        transition: all 0.3s ease-in;
      }
      .navLink:hover {
        transform-origin: center;
        color: var(--primaryColorOrange);
        font-weight: bolder;
      }
    }
  }
  .cta {
    display: flex;
    align-items: center;
    gap: 2.25rem;
    .l1 {
      border-radius: 6px;
      text-decoration: none;
      transition: all 0.3s ease-in;
    }
    .l1:hover {
      transform-origin: center;
      color: var(--primaryColorOrange);
      font-weight: bolder;
    }
    .l2 {
      border-radius: 6px;
      text-decoration: none;
      transition: all 0.3s ease;
    }
    .l2:hover {
      background-color: var(--primaryColorOrange);
      color: white;
    }
    .l3 {
      display: none;
    }
  }
}

/* Hero section */

.hero {
  background-image: url(/assets/corner.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 196px;
  background-size: 720px 506px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  .content {
    margin-top: 1.87rem;
    align-self: flex-start;
    width: 60%;
    #mainHead {
      font-size: var(--WH1Size);
      font-weight: var(--extra-bold);
      color: var(--textDark);
      line-height: 80px;
      hr {
        opacity: 0;
      }
    }
    .desc {
      color: var(--textLight);
      line-height: 28px;
      margin-top: 22px;
      margin-bottom: 48px;
      width: 70%;
      font-size: var(--WP1Size);
    }
    .btns {
      button {
        border-radius: 6px;
        font-size: var(--WH7Size);
        font-weight: var(--semi-bold);
      }
      #btn1 {
        margin-right: 23px;
        padding: 15px 41px;
        color: white;
        border: none;
        background-color: var(--primaryColorOrange);
      }
      #btn2 {
        color: var(--textDark);
        padding: 15px 22px;
        border: 1px solid var(--stroke);
        background: transparent;
      }
    }
  }
  .manImg {
    width: 40%;
    #round2 {
      display: none;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
}

/* Hero sec. cards */

.horizontalBar {
  position: relative;
  background: var(--primaryColorGreen);
  margin-top: -125px;
  width: 100%;
  height: 260px;
  .cards {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: -77px;
    width: 100%;
    gap: 33px;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: none;
      border-radius: 6px;
      padding: 26px;
      background-color: #ffffff;
      box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.05);
      .cardDesc div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          width: 70%;
          line-height: 28px;
          margin-bottom: 28px;
          font-size: var(--WH5Size);
          font-weight: var(--bold);
        }
        .num {
          line-height: 60px;
          font-size: var(--WH2Size);
          font-weight: var(--bold);
          color: var(--stroke2);
        }
      }
    }
    .c1 {
      grid-column: 1/2;
    }
    .c2 {
      grid-column: 2/3;
    }
    .c3 {
      align-self: flex-start;
      display: flex;
      gap: 15px;
      grid-column: 3/5;
      flex-direction: row;
      background-color: var(--secondaryColorPink);
      box-shadow: 0 0 0 0;
      .cardDesc {
        width: 50%;
        div {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-between;
          height: 100%;
          .detail {
            flex-direction: row;
            h5{
              margin-bottom: 0;
            }
            .num {
              font-size: var(--WH2Size);
              font-weight: var(--bold);
              color: var(--secondaryColorDeepPink);
            }
          }
          .readM {
            flex-direction: column;
            justify-content: flex-end;
            p {
              padding: 20px 0;
              line-height: 26px;
              color: var(--textLight);
              font-size: var(--wP2Size);
              font-weight: var(--regular);
            }
            a {
              text-decoration: none;
              color: var(--textDark);
              font-size: var(--WH9Size);
              font-weight: var(--semi-bold);
            }
          }
        }
      }
      img{
        /* flex: 1; */
        height: 100%;
      }
    }
  }
}

/* COuntDown */

.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9.81rem;
  color: var(--textDark);
  .experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.37rem;
    row-gap: 2.18rem;
    .expCard {
      .expNum {
        font-size: var(--WH2Size);
        font-weight: var(--bold);
        line-height: 60px;
        color: var(--textDark);
      }
      .expDesc {
        font-size: var(--WH6Size);
        font-weight: var(--bold);
        line-height: 30px;
        color: var(--textDark);
        margin-bottom: 10px;
        margin-top: 16px;
      }
      /* .expP {
        font-size: var(--WP2Size);
        font-weight: var(--regular);
        color: var(--textLight);
        line-height: 26px;
      } */
    }
  }
  .experienceDesc {
    .expHead {
      margin-bottom: 3rem;
      width: 100%;
    }
    h4 {
      font-family: var(--homeMadeApple);
      font-size: var(--wH1SpecialTextSize);
      font-weight: var(--regular);
      line-height: auto;
      color: var(--primaryColorOrange);
    }
    p {
      /* h7 semiBold 28 */
      font-size: var(--WH7Size);
      font-weight: var(--semi-bold);
      line-height: 28px;
      margin: 0.25rem 0;
      color: var(--textDark);
      span {
        font-size: var(--wP3Size);
        font-weight: var(--regular);
        line-height: 24px;
        color: var(--textLight);
      }
    }
  }
}

/* Features */

.videoSection {
  position: relative;
  background-image: linear-gradient(
    to top,
    #f5f6f9 80%,
    rgb(255, 255, 255) 20%
  );
  padding-bottom: 150px;
  .video {
    position: relative;
    .banner {
      width: 100%;
    }
    .playIcon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 7.5rem;
      z-index: 2;
    }
  }
  .videoDesc {
    position: relative;
    margin-top: 4.87rem;
    display: flex;
    gap: 8.87rem;
    justify-content: space-between;
    h2 {
      flex:1;
      margin-top: 22px;
    }
    h2::before {
      content: "";
      position: absolute;
      top: 0;
      width: 4.37rem;
      height: 2px;
      background-color: var(--primaryColorOrange);
      display: block;
    }
    div {
      flex:1;
      p {
        width: 70%;
      }
      button {
        
        margin-top: 28px;
      }
    }
  }
}

/* Courses */

.courses {
  position: relative;
  text-align: center;
  color: var(--textDark);
  h2 {
    margin-bottom: 18px;
  }
  p {
    width: 40%;
    margin: 0 auto;
   
  }
  .courseCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 33px;
    margin: 98px 0 55px 0;
    /* padding: 0 59px; */
  }
  .courseCard {
      flex: 1;
    /* width: 368px;
    height: 464px; */
    border: none;
    border-radius: 14px;
    padding: 28px;
    transition: all 0.5s ease;
    .manYoga {
      width: 100%;
      /* aspect-ratio: 1/1; */
      margin: 0 auto;
      margin-top: -76px;
    }
    h4 {
      text-align: left;
      margin-top: 24px;
      font-size: var(--WH6Size);
      font-weight: var(--semi-bold);
      line-height: 30px;
      margin-top: 24px;
      margin-bottom: 12px;
    }
    p {
      text-align: left;
      width: 100%;  
      margin-bottom: 18px;
    }
    .ratings {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
        color: var(--textDark);
        font-size: var(--WH9Size);
        font-weight: var(--semi-bold);
        cursor: pointer;
        transition: all 0.3s ease;
      }
      a:hover {
        color: var(--primaryColorOrange);
      }
    }
  }
  .courseCard:hover {
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.07);
  }
  /* .browse {
    background-color: var(--primaryColorOrange);
    font-size: var(--WH9Size);
    font-weight: var(--semi-bold);
    line-height: 24px;
    padding: 11px 29px;
    border: none;
    border-radius: 4px;
    color: white;
  } */
}

/* Pricing  */

.prizing {
  background-color: #f5f6f9;
  text-align: center;
  color: var(--textDark);
  h2 {
    margin-bottom: 18px;
  }
  p {
    margin: 0 auto;
  }
  .plans {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    gap: 10px;
    .plan {
      background-color: white;
      display: flex;
      flex-direction: column;

      .subscription {
        padding: 71px 0 34px 0;
        border-bottom: 2px solid var(--stroke3);
        .time {
          font-size: var(--WH5Size);
          font-weight: var(--medium);
          line-height: 34px;
          margin-bottom: 10px;
        }
        .prize {
          font-size: var(--WH3Size);
          font-weight: var(--semi-bold);
        }
      }
      .recommended {
        padding: 48px 0 34px 0;
        background-color: var(--primaryColorOrange);
        color: white;
        border-color: var(--primaryColorOrange);
      }
      .recommended::before {
        content: "RECOMMENDED";
        font-size: var(--WH9Size);
        font-weight: var(--semi-bold);
        line-height: 24px;
      }
      .flexbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        .services {
          padding: 18px 30px 41px 30px;
          .DYFovCLS {
            font-size: var(--wP3Size);
            font-weight: var(--regular);
            line-height: 24px;
          }
          .sList {
            margin-top: 26px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            p {
              img {
                margin-right: 16px;
                height: 28px;
              }
              border: 1px solid var(--stroke3);
              padding: 17px;
              width: 100%;
              display: flex;
              align-items: center;
              /* margin-bottom: 12px; */
              border-radius: 6px;
            }
          }
        }
        .bookNow {
          position: relative;
          display: block;
          font-size: var(--WH8Size);
          font-weight: var(--semi-bold);
          color: var(--primaryColorOrange);
          line-height: 26px;
          padding: 12px 113px;
          margin: 0 30px 30px;
          border: 1px solid var(--primaryColorOrange);
          background: transparent;
          border-radius: 4px;
        }
        .bookNow::after {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          content: url("/assets/arrow.png");
          height: 50px;
          width: 50px;
          border-radius: 0 4px 4px 0;
          background-color: var(--primaryColorOrange);
        }
        .recomm {
          background-color: var(--primaryColorOrange);
          color: white;
        }
        .recomm::after {
          background-color: var(--primaryColorBaseLight);
        }
      }
    }
  }
}

/* Testimonials */

.customersReview {
  position: relative;
  color: var(--textDark);
  font-weight: var(--bold);
  line-height: 60px;
  text-align: center;


  .testimonials {
    position: relative;
    margin: 124px 0 55px 0;
    .customer {
      width: 70%;
      margin: auto;
      padding: 94px 74px 35px 74px;
      border: 1px solid var(--stroke2);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .profilePic {
        height: 108px;
        width: 108px;
        overflow: hidden;
        background-color: var(--secondaryColorYellow);
        border: none;
        border-radius: 50%;
        margin-top: -149px;
        box-shadow: 0 40px 60px #edca8842;
        /* object-fit: contain; */
        img {
          margin: 15px 0 0 -10px;
        }
      }
      p {
        margin: 38px 0 30px 0;
        font-size: var(--WH7Size);
        font-weight: 500;
        font-style: italic;
        line-height: 32px;
        color: var(--textLight);
      }
      .custName {
        font-size: var(--WH8Size);
        line-height: 26px;
        font-weight: var(--semi-bold);
      }
      .role {
        font-size: var(--wP3Size);
        line-height: 24px;
        margin: 0;
        color: var(--textLight);
        font-style: normal;
      }
    }
  }
  .slider {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 3px;

    .round {
      border: 1px solid var(--stroke2);
      border-radius: 100%;
      height: 16px;
      width: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .selected {
      background-color: var(--primaryColorOrange);
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }
  }
}

/* Newsletter */

.subscribeSection {
  padding: 99px 0;
  background-color: var(--primaryColorGreen);
  .subscribe {
    border: 10px solid var(--primaryColorGreen2);
    border-radius: 8px;
    padding: 70px 0;
    text-align: center;
    color: #d4eee9;
    h4 {
      font-size: var(--WH4Size);
      font-weight: var(--bold);
      line-height: 36px;
      margin-bottom: 14px;
    }
    p {
      font-size: var(--wP2Size);
      font-weight: var(--regular);
      margin-bottom: 48px;
    }
  }
  .email {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      background: url(/assets/email.png);
      background-repeat: no-repeat;
      background-position: 10px center;
      font-size: 26px;
      width: 40%;
      border: 1px solid var(--primaryColorGreen2);
      border-radius: 4px;
      padding: 19px 50px;
      font-size: var(--wP2Size);
      font-weight: var(--regular);
    }
    ::placeholder {
      color: var(--primaryColorGreen2);
    }
    .submit {
      font-size: var(--WH8Size);
      font-weight: var(--semi-bold);
      color: white;
      line-height: 26px;
      padding: 16px 44px;
      margin-left: -8px;
      border-radius: 4px;
      border: none;
      background-color: var(--primaryColorOrange);
    }
  }
}

/* Footer (Contact Form) */

.contactForm {
  /* position: relative; */
  margin: 249px 0 38px 0;
  background-image: url(/assets/Shapes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .contactDesc {
    padding: 184px 48px 184px 74px;
    flex: 1;
    p {
      margin-top: 26px;
    }
  }
  .formSec {
    form {
      padding: 45px 40px;
      background: white;
      margin-top: -99px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: none;
      border-radius: 20px;
      box-shadow: 0 81px 105px #3333331a;
      .contactField {
        padding: 17px 25px;
        border: 1px solid var(--stroke2);
        border-radius: 5px;
        font-size: var(--wP2Size);
        line-height: 26px;
        font-weight: var(--regular);
      }
      .checkDiv {
        display: flex;
        align-items: center;
        gap: 12px;
        input[type="checkbox"] {
          height: 22px;
          width: 22px;
          border-radius: 4px;
          border: 1px solid var(--stroke2);
        }
        p {
          font-size: var(--wP3Size);
          font-weight: var(--regular);
          line-height: 26px;
          color: var(--textLight);
          a {
            text-decoration: none;
            color: var(--primaryColorOrange);
          }
        }
      }
      /* button[type="submit"] {
        width: fit-content;
        font-size: var(--WH9Size);
        background-color: var(--primaryColorOrange);
        color: white;
        border: none;
        border-radius: 4px;
        font-weight: var(--semi-bold);
        line-height: 26px;
        padding: 16px 28px;
      } */
    }
  }
}

/* Footer CopyRight */

footer {
  margin-bottom:25px;
  color: var(--textLight);
  font-size: var(--wP3Size);
  font-weight: var(--regular);
  line-height: 24px;
  .socialIcons {
    display: flex;
    gap: 20px;
    button{
      border: none;
      background-color: white;
      box-shadow: 0 10px 20px #0000000d;
      padding: 18px ;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
    /* img {
    } */
  }
}

/* Css for screen size <= 1024px */

@media only screen and (max-width: 64rem) {
  /* .container{
    max-width: 880px;
  } */
   .spacing{
    padding: 115px 0;
   }
   .section-head {
    font-size: var(--TH2Size);
    font-weight: var(--bold);
    line-height: var(--TH2LineHeight);
  }

  .navigation {
    padding: 1rem 2rem;
    .left {
      .navLinks {
        display: none;
      }
    }
    .cta {
      .l1 {
        font-size: var(--mH8Size);
      }
      .l2 {
      }
      .l3 {
        display: block;
      }
    }
  }

  .hero {
    padding-top: 196px;
    .content {
      margin-top: 1.87rem;
      /* flex: 1; */
      flex: 1;
      #mainHead {
        font-size: var(--TH1Size);
        font-weight: var(--extra-bold);
        line-height: 60px;
      }
      .desc {
        color: var(--textLight);
        line-height: 28px;
        margin-top: 17px;
        margin-bottom: 30px;
        font-size: var(--TP1Size);
        width: 100%;
      }
      .btns {
        button {
          font-size: var(--WH7Size);
        }
        #btn1 {
          color: white;
          border: none;
          background-color: var(--primaryColorOrange);
        }
      }
    }
    .manImg {
      flex: 1;
      #round2 {
        display: none;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .horizontalBar {
    height: 565px;
    .cards {
      width: fit-content;
      grid-template-columns: repeat(2,1fr);
      .card {
        width: 100%;
        .cardDesc div {
          h5 {
            line-height: 20px;
            width: 65%;
            font-size: var(--TH5Size);
            font-weight: var(--bold);
          }
          .num {
            line-height: 40px;
            font-size: var(--TH2Size);
            font-weight: var(--bold);
            color: var(--stroke2);
          }
        }
        img{
          width: 100%;
        }
      }
      .c1 {
        
      }
      .c2 {
      }
      .c3 {
        grid-row: 2/3;
        grid-column: 1/3 ;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: normal;
        background-color: var(--secondaryColorPink);
        box-shadow: 0 0 0 0;
        .cardDesc {
          width: 75%;
          div {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            height: 100%;
            .detail {
              flex-direction: row;
              .num {
                font-size: var(--TH2Size);
                font-weight: var(--bold);
                color: var(--secondaryColorDeepPink);
              }
            }
            .readM {
              flex-direction: column;
              justify-content: flex-end;
              p {
                padding: 20px 0;
                line-height: 26px;
                color: var(--textLight);
                font-size: var(--TP2Size);
                font-weight: var(--regular);
              }
              a {
                text-decoration: none;
                color: var(--textDark);
                font-size: var(--TH7Size);
                font-weight: var(--semi-bold);
              }
            }
          }
        }
        img{
          flex: 1;
          /* height: 100%; */
        }
      }
    }
  }

  .about {
    gap: 2.81rem;
    .experience {
      flex: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.37rem;
      row-gap: 1.18rem;
      .expCard {
        .expNum {
          font-size: var(--TH2Size);
          font-weight: var(--bold);
          line-height: 45px;
          color: var(--textDark);
        }
        .expDesc {
          flex: 1;
          font-size: var(--TH6Size);
          font-weight: var(--bold);
          line-height: 20px;
          color: var(--textDark);
          margin-bottom: 7px;
          margin-top: 5px;
        }
        .expP {
          font-size: var(--Wt2Size);
          font-weight: var(--regular);
          color: var(--textLight);
          line-height: 17px;
        }
      }
    }
    .experienceDesc {
      flex: 1;
      h2 {
        margin-bottom: 2rem;
      }
      h4 {
        font-family: var(--homeMadeApple);
        font-size: var(--WH1SpecialTextSize);
        font-weight: var(--regular);
        line-height: auto;
        color: var(--primaryColorOrange);
      }
      p {
        font-size: var(--TH7Size);
        font-weight: var(--semi-bold);
        line-height: 28px;
        margin: 0.25rem 0;
        color: var(--textDark);
        span {
          font-size: var(--TP3Size);
          font-weight: var(--regular);
          line-height: 24px;
          color: var(--textLight);
        }
      }
    }
  }

  .videoSection {
    .video {
      /* .banner {
      }
      .playIcon {
      } */
    }
    .videoDesc {
      position: relative;
      margin-top: 3.87rem;
      display: flex;
      gap: 8.87rem;
      justify-content: space-between;
      h2 {
        margin-top: 22px;
      }
      h2::before {
        content: "";
        position: absolute;
        top: 0;
        width: 4.37rem;
        height: 2px;
        background-color: var(--primaryColorOrange);
        display: block;
      }
      div {
        p {
          font-size: var(--WP2Size);
          font-weight: var(--regular);
          line-height: 26px;
          color: var(--textLight);
        }
        button {
          background-color: var(--primaryColorOrange);
          padding: 11px 25px;
          border: none;
          border-radius: 6px;
          font-size: var(--WH8Size);
          font-weight: var(--semi-bold);
          color: white;
          margin-top: 28px;
        }
      }
    }
  }

  .courses {
    position: relative;
    text-align: center;
    color: var(--textDark);
    h2 {
      margin-bottom: 18px;
    }
    p {
      width: 50%;
      margin: 0 auto;
      font-size: var(--wP2Size);
      line-height: 26px;
      color: var(--textLight);
    }
    .courseCards {
      justify-content: space-between;
      gap: 33px;
      margin: 55px 0;
      /* padding: 0 59px; */
    }
    .courseCard {
      /* width: 368px;
      height: 464px; */
      border: none;
      border-radius: 14px;
      padding: 28px;
      transition: all 0.5s ease;
      .manYoga {
        width: 100%;
        /* aspect-ratio: 1/1; */
        margin: 0 auto;
        /* margin-top: -76px; */
      }
      h4 {
        text-align: left;
        margin-top: 24px;
        font-size: var(--WH6Size);
        font-weight: var(--semi-bold);
        line-height: 30px;
        margin-top: 24px;
        margin-bottom: 12px;
      }
      p {
        text-align: left;
        width: 100%;  
        margin-bottom: 18px;
      }
      .ratings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        a {
          margin-top: 10px;
          text-decoration: none;
          color: var(--textDark);
          font-size: var(--WH9Size);
          font-weight: var(--semi-bold);
          cursor: pointer;
          transition: all 0.3s ease;
        }
        a:hover {
          color: var(--primaryColorOrange);
        }
      }
    }
    .courseCard:hover {
      box-shadow: 0 18px 36px rgba(0, 0, 0, 0.07);
    }
    .browse {
      background-color: var(--primaryColorOrange);
      font-size: var(--WH9Size);
      font-weight: var(--semi-bold);
      line-height: 24px;
      padding: 11px 29px;
      border: none;
      border-radius: 4px;
      color: white;
    }
  }

  .contactForm {
    /* position: relative; */
    margin: 0 0 38px 0;
    background-image: url(/assets/Shapes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    display: grid;
    grid-template-columns: 1fr;
    .contactDesc {
      padding-bottom:184px;
      flex: 1;
      h2 {
      }
      p {
        margin-top: 26px;
        color: var(--textLight);
        font-size: var(--WP1Size);
        font-weight: var(--regular);
        line-height: 28px;
      }
    }
    .formSec {
      form {
        padding: 45px 40px;
        background: white;
        margin-top: -99px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 81px 105px #3333331a;
        .contactField {
          padding: 17px 25px;
          border: 1px solid var(--stroke2);
          border-radius: 5px;
          font-size: var(--wP2Size);
          line-height: 26px;
          font-weight: var(--regular);
        }
        .checkDiv {
          display: flex;
          align-items: center;
          gap: 12px;
          input[type="checkbox"] {
            height: 22px;
            width: 22px;
            border-radius: 4px;
            border: 1px solid var(--stroke2);
          }
          p {
            font-size: var(--wP3Size);
            font-weight: var(--regular);
            line-height: 26px;
            color: var(--textLight);
            span {
              color: var(--primaryColorOrange);
            }
          }
        }
        button[type="submit"] {
          width: fit-content;
          font-size: var(--WH9Size);
          background-color: var(--primaryColorOrange);
          color: white;
          border: none;
          border-radius: 4px;
          font-weight: var(--semi-bold);
          line-height: 26px;
          padding: 16px 28px;
        }
      }
    }
  }
}

/* Css for screen size <= 768px */

@media only screen and (max-width: 768px) {
  .navigation {
    top: 25px;
    .left {
      .navLinks {
        display: none;
      }
    }
    .cta {
      gap: 2rem;
      .l1 {
        font-size: var(--MH6Size);
        font-weight: var(--MH6SemiBold);
      }
      .l2 {
        padding: 5px 16px;
        font-size: var(--MH6Size);
      }
      .l3 {
        display: block;
      }
    }
  }

  .hero {
    padding-top: 135px;
    background-size: 420px 300px;
    .content {
      margin-top: 10px;
      #mainHead {
        margin-bottom: 12px;
        font-size: var(--MH1Size);
        font-weight: var(--extra-bold);
        line-height: 46px;
      }
      .desc {
        width: 100%;
        font-size: var(--MP1Size);
        margin-bottom: 24px;
        line-height: 22px;
      }
      .btns {
        button {
          font-size: var(--MH6Size);
          line-height: 20px;
        }
        #btn1 {
          margin-right: 10px;
          padding: 5px 20px;
        }
        #btn2 {
          padding: 5px 11px;
        }
      }
    }
    .manImg {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .horizontalBar {
    height: 545px;

    margin-top: -90px;
    .cards {
      top: -50px;
      .card {
        .cardDesc div {
          h5 {
            line-height: 20px;
            font-size: var(--TH5Size);
            font-weight: var(--bold);
          }
          .num {
            line-height: 40px;
            font-size: var(--TH2Size);
            font-weight: var(--bold);
            color: var(--stroke2);
          }
        }
      }
      .c1 {
      }
      .c2 {
      }
      .c3 {
        flex-direction: row;
        align-items: normal;
        background-color: var(--secondaryColorPink);
        box-shadow: 0 0 0 0;
        .cardDesc {
          width: 75%;
          div {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            height: 100%;
            .detail {
              flex-direction: row;
              .num {
                font-size: var(--TH2Size);
                font-weight: var(--bold);
                color: var(--secondaryColorDeepPink);
              }
            }
            .readM {
              flex-direction: column;
              justify-content: flex-end;
              p {
                padding: 20px 0;
                line-height: 26px;
                color: var(--textLight);
                font-size: var(--TP2Size);
                font-weight: var(--regular);
              }
              a {
                text-decoration: none;
                color: var(--textDark);
                font-size: var(--TH7Size);
                font-weight: var(--semi-bold);
              }
            }
          }
        }
      }
    }
  }

  
  .about {
    gap: 1.81rem;
    .experience {
      flex: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.37rem;
      row-gap: 1.18rem;
      .expCard {
        .expNum {
          font-size: var(--MH2Size);
          line-height: 30px;
        }
        .expDesc {
          flex: 1;
          font-size: var(--MH6Size);
          line-height: 15px;
          color: var(--textDark);
          margin-bottom: 7px;
          margin-top: 5px;
        }
        .expP {
          font-size: var(--MP2Size);
          font-weight: var(--regular);
          color: var(--textLight);
          line-height: 17px;
        }
      }
    }
    .experienceDesc {
      flex: 1;
      h2 {
        font-size: var(--MH2Size);
        font-weight: var(--bold);
        line-height: 30px;
        margin-bottom: 1rem;
      }
      h4 {
        font-family: var(--homeMadeApple);
        font-size: var(--MH1SpecialTextSize);
        font-weight: var(--regular);
        line-height: auto;
        color: var(--primaryColorOrange);
      }
      p {
        font-size: var(--MH7Size);
        font-weight: var(--semi-bold);
        line-height: 28px;
        margin: 0.25rem 0;
        color: var(--textDark);
        span {
          font-size: var(--TP3Size);
          font-weight: var(--regular);
          line-height: 24px;
          color: var(--textLight);
        }
      }
    }
  }


  .videoSection {
    .video {
    }
    .videoDesc {
      margin-top: 3.87rem;
      gap: 0;
      h2 {
        font-size: var(--MH2Size);
        font-weight: var(--bold);
        line-height: 30px;
      }
      h2::before {
        content: "";
        position: absolute;
        top: 0;
        width: 4.37rem;
        height: 2px;
        background-color: var(--primaryColorOrange);
        display: block;
      }
      div {
        p {
          font-size: var(--MP2Size);
          font-weight: var(--regular);
          line-height: 20px;
          color: var(--textLight);
          width:75%
        }
        button {
          background-color: var(--primaryColorOrange);
          padding: 11px 25px;
          border: none;
          border-radius: 6px;
          font-size: var(--MH7Size);
          font-weight: var(--semi-bold);
          color: white;
          margin-top: 28px;
        }
      }
    }
  }

  .courses {
    text-align: center;
    color: var(--textDark);
    flex-wrap: wrap;
    h2 {
      font-size: var(--MH2Size);
      font-weight: var(--bold);
      line-height: 45px;
      margin-bottom: 0px;
    }
    p {
      width: 45%;
      margin: 0 auto;
      font-size: var(--MP2Size);
      line-height: 20px;
      color: var(--textLight);
    }
    .courseCards {
      grid-template-columns: repeat(2, 1fr);
      gap: 33px;
      margin: 98px 0 55px 0;
    }
    .courseCard {
      margin: 0 auto;
        width: 100%;
        
      flex-basis: 339px;
      /* width: 368px;
      height: 464px; */
      border: none;
      border-radius: 14px;
      padding: 28px;
      transition: all 0.5s ease;
      .manYoga {
        width: 100%;
        /* aspect-ratio: 1/1; */
        margin: 0 auto;
        margin-top: -76px;
      }
      h4 {
        text-align: left;
        margin-top: 24px;
        font-size: var(--MH6Size);
        font-weight: var(--semi-bold);
        line-height: 20px;
        margin-top: 24px;
        margin-bottom: 12px;
      }
      p {
        text-align: left;
        width: 100%;  
        margin-bottom: 18px;
      }
      .ratings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        a {
          margin-top: 10px;
          text-decoration: none;
          color: var(--textDark);
          font-size: var(--MH7Size);
          font-weight: var(--semi-bold);
          cursor: pointer;
          transition: all 0.3s ease;
        }
        a:hover {
          color: var(--primaryColorOrange);
        }
      }
    }
    .courseCard:hover {
      box-shadow: 0 18px 36px rgba(0, 0, 0, 0.07);
    }
    .browse {
      background-color: var(--primaryColorOrange);
      font-size: var(--MH7Size);
      font-weight: var(--semi-bold);
      line-height: 17px;
      padding: 11px 29px;
      border: none;
      border-radius: 4px;
      color: white;
    }
  }

    .prizing {
      h2{
        font-size: var(--MH2Size);
        line-height: 45px;
      }
      p{
        font-size: var(--wP2Size);
        line-height: 20px;
      }
      .plans {
          flex-direction: column;
          .plan {
                  width: 100%;
                  margin-bottom: 20px;
                  .flexbox{
                    .services{
                    
                    }
                  }
              }
      }
    }

.customersReview {
  position: relative;
  color: var(--textDark);
  text-align: center;
  
  h2 {
    font-size: var(--MH2Size);
    line-height: 45px;
    font-weight: var(--bold);
  }
  .testimonials {
    .customer {
      width: 100%;
      }
      p {
        margin: 38px 0 30px 0;
        font-size: var(--MH7Size);
        font-weight: 500;
        font-style: italic;
        line-height: 25px;
        color: var(--textLight);
      }
      .custName {
        font-size: var(--MH7Size);
        line-height: 20px;
        font-weight: var(--semi-bold);
      }
      .role {
        font-size: var(--MP3Size);
        line-height: 18px;
        margin: 0;
        color: var(--textLight);
        font-style: normal;
      }
    }
    .slider {
      display: flex;
      justify-content: center;
      gap: 5px;
      padding: 3px;
  
      .round {
        border: 1px solid var(--stroke2);
        border-radius: 100%;
        height: 16px;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .selected {
        background-color: var(--primaryColorOrange);
        height: 10px;
        width: 10px;
        border-radius: 50%;
      }
    }
  }

  .subscribeSection {
    padding: 99px 0;
    background-color: var(--primaryColorGreen);
    .subscribe {
      border: 10px solid var(--primaryColorGreen2);
      border-radius: 8px;
      padding: 70px 0;
      text-align: center;
      color: #d4eee9;
      h4 {
        font-size: var(--WH4Size);
        font-weight: var(--bold);
        line-height: 36px;
        margin-bottom: 14px;
      }
      p {
        font-size: var(--wP2Size);
        font-weight: var(--regular);
        margin-bottom: 48px;
      }
    }
    .email {
      flex-direction: column;
      input {
        margin-bottom: 12px;
        width: 70%;
        font-size: var(--MP2Size);
      }
      .submit {
        font-size: var(--MH8Size);
        /* font-weight: var(--semi-bold);
        color: white;
        line-height: 26px;
        padding: 16px 44px;
        margin-left: -8px;
        border-radius: 4px;
        border: none;
        background-color: var(--primaryColorOrange); */
      }
    }
  }

  .contactForm{
    .contactDesc{
      h2{
        font-size: var(--MH2Size);
        line-height: 45px;
      }
      p{
        font-size: var(--MP2Size);
        line-height: 20px;
      }
    }
  }

}

/* CSS for mobile screen */

@media only screen and (max-width: 431px) {


   .container{
    max-width: 100%;
    width: auto;
    margin: 0 18px;
  } 

  .e1 {
    top: 70%;
    left: 5%;
    height: 17px;
  }
  .e2 {
    top: 2%;
    height: 7px;
    left: 50%;
    rotate: 0deg;
  }
  .e3 {
    top: 34%;
    right: 22%;
    height: 17px;
  }
  .e4 {
    display: none;
  }
  .e5 {
    top: 25%;
    right: 20%;
    height: 17px;
  }
  .e6 {
    top: 88%;
    right: 15%;
    height: 10px;
  }
  .e7 {
    display: none;
  }
  .e8 {
    display: none;
  }
  .e9 {
    display: none;
  }
  .e10 {
    display: none;
  }
  .e11 {
    top: 30%;
    left: 2%;
    height: 20px;
  }
  .e12 {
    top: 80%;
    left: 0%;
    height: 20px;
  }
  .e13 {
    top: 45%;
    right: 0%;
    height: 20px;
  }
  /* Navigation Bar */

  .navigation {
    padding: 0;
    box-shadow: 0 0 0 0;
    width: 100%;
    #logo {
      height: 24px;
    }
    .left {
      .navLinks {
        display: none;
      }
    }
    .cta {
      gap: 0.81rem;
      .l1 {
        font-size: var(--MH6Size);
        font-weight: var(--MH6SemiBold);
      }
      .l2 {
        padding: 5px 16px;
        font-size: var(--MH6Size);
      }
      .l3 {
        display: block;
      }
    }
  }

  /* Hero section */

  .hero {
    padding-top: 60px ;
    background: transparent;
    .row{
      flex-direction: column;
      align-items: center;
      
    /* flex-direction: column;
    align-items: center; */
    .content {
      width: 100%;
      margin-top: 10px;
      #mainHead {
        margin-bottom: 12px;
        font-size: var(--MH1Size);
        font-weight: var(--extra-bold);
        line-height: 46px;
      }
      .desc {
        width: 100%;
        font-size: var(--MP1Size);
        margin-bottom: 24px;
        line-height: 22px;
      }
      .btns {
        button {
          font-size: var(--MH6Size);
          line-height: 20px;
        }
        #btn1 {
          margin-right: 10px;
          padding: 5px 20px;
        }
        #btn2 {
          padding: 5px 11px;
        }
      }
    }
    .manImg {
      background-image: url(/assets/corner.png);
      background-size: 100% 50%;
      background-repeat: no-repeat;
      background-position: top right;
      width: 100%;
      margin: 1.75rem 0;
      position: relative;
      display: flex;
      justify-content: center;
      img {
        margin-top: 16px;
        width: 100%;
        height: 100%;
      }
    }
  }
  }

  /* Hero sec. cards */

  .horizontalBar {
    position: relative;
    margin-top: -130px;
    height: 361px;
    .cards {
      column-gap:14px;
      row-gap:22px;
      width: 100%;
      position: absolute;
      top: -38px;
      .card {
        padding: 14px;

        .cardDesc div {
          h5 {
            width: 75%;
            line-height: 16px;
            font-size: var(--MH4Size);
            font-weight: var(--bold);
          }
          .num {
            line-height: 60px;
            font-size: var(--MH2Size);
            font-weight: var(--bold);
            color: var(--stroke2);
          }
        }
      }
      .c1{
        /* grid-column: 1/2;
        grid-row: 1/2; */
      }
      .c2{
        /* grid-column: 1/2;
        grid-row: 2/3; */
      }
      .c3 {
        /* grid-column:1/2;
        grid-row: 3/4; */
        box-shadow: 0 0 0 0;
        .cardDesc {
          div {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            height: 100%;
            .detail {
              flex-direction: row;
              .num {
                /* margin: auto 0; */
                line-height: 36px;
                font-size: var(--MH2Size);
                font-weight: var(--bold);
                color: var(--secondaryColorDeepPink);
              }
            }
            .readM {
              flex-direction: column;
              justify-content: flex-end;
              p {
                padding: 5px 0;
                line-height: 20px;
                color: var(--textLight);
                font-size: var(--MP2Size);
                font-weight: var(--regular);
              }
              a {
                line-height: 20px;
                text-decoration: none;
                color: var(--textDark);
                font-size: var(--MH6Size);
                font-weight: var(--MH6SemiBold);
              }
            }
          }
        }
        img {
          height: 149px;
          width: 110px;
        }
      }
    }
  }

  /* CountDown */

  .about {
    margin: 4.37rem 1.12rem;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 0.68rem;
    /* width: 100%; */
    color: var(--textDark);
    .experience {
      /* width: 50%; */
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.56rem;
      .expCard {
        .expNum {
          font-size: var(--MH2Size);
          font-weight: var(--bold);
          line-height: 36px;
          color: var(--textDark);
        }
        .expDesc {
          font-size: var(--MH5Size);
          font-weight: var(--MH5SemiBold);
          line-height: 22px;
          color: var(--textDark);
          margin-bottom: 2px;
          margin-top: 8px;
        }
        .expP {
          font-size: var(--MP2Size);
          font-weight: var(--regular);
          color: var(--textLight);
          line-height: 20px;
        }
      }
    }
    .experienceDesc {
      h2 {
        font-size: var(--MH2Size);
        font-weight: var(--bold);
        line-height: 36px;
        margin-bottom: 1.75rem;
        width: 100%;
      }
      h4 {
        font-family: var(--homeMadeApple);
        font-size: var(--MH1SpecialTextSize);
        font-weight: var(--MSpecialTextRegular);
        line-height: auto;
        color: var(--primaryColorOrange);
      }
      p {
        /* h7 semiBold 28 */
        font-size: var(--MH7Size);
        font-weight: var(--MH7SemiBold);
        line-height: 28px;
        margin: 0.25rem 0;
        color: var(--textDark);
        span {
          font-size: var(--MP3Size);
          font-weight: var(--regular);
          line-height: 24px;
          color: var(--textLight);
        }
      }
    }
  }

  /* Features */

  .videoSection {
    background-image: linear-gradient(
      to top,
      #f5f6f9 80%,
      rgb(255, 255, 255) 20%
    );
    padding: 0 1.12rem;
    padding-bottom: 2.37rem;
    .video {
      position: relative;
      padding: auto;
      .banner {
        width: 100%;
      }
      .playIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2.25rem;
        z-index: 2;
      }
    }
    .videoDesc {
      position: relative;
      width: 18.43rem;
      margin-top: 1.75rem;
      flex-direction: column;
      gap: 0.75rem;
      justify-content: space-between;
      h2 {
        font-size: var(--MH2Size);
        font-weight: var(--bold);
        line-height: 36px;
        margin-top: 1.37rem;
        width: 100%;
      }
      h2::before {
        content: "";
        position: absolute;
        top: 0;
        width: 2.37rem;
        height: 2px;
        background-color: var(--primaryColorOrange);
        display: block;
      }
      div {
        p {
          margin-top: 12px;
          font-size: var(--MP1Size);
          font-weight: var(--regular);
          line-height: 22px;
          color: var(--textLight);
        }
        button {
          margin-top: 18px;
          background-color: var(--primaryColorOrange);
          padding: 10px 28px;
          border: none;
          border-radius: 6px;
          font-size: var(--MH5Size);
          font-weight: var(--semi-bold);
          color: white;
        }
      }
    }
  }

  /* Courses */

  .courses {
    text-align: center;
    color: var(--textDark);
    h2 {
      font-size: var(--MH2Size);
      font-weight: var(--bold);
      line-height: 36px;
      margin-bottom: 12px;
    }
    p {
      width: 100%;
      /* margin: 0 auto; */
      font-size: var(--MP1Size);
      line-height: 22px;
      color: var(--textLight);
    }
    .courseCards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 58px;
      margin: 66px auto;
      padding: 0;
    }
    .courseCard {
      margin: 0 auto;
      text-align: left;
      border: none;
      border-radius: 14px;
      padding: 1.12rem;
      transition: all 0.5s ease;
      .manYoga {
        margin: 0 auto;
        margin-top: -3.5rem;
      }
      h4 {
        width: 70%;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: var(--MH4Size);
        font-weight: var(--MH4SemiBold);
        line-height: 1.87rem;
      }
      p {
        font-size: var(--MP1Size);
        line-height: 22px;
        width: 80%;
        margin: 0;
        margin-bottom: 12px;
      }
      .ratings {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
          font-size: var(--MH5Size);
          font-weight: var(--semi-bold);
          cursor: pointer;
          transition: all 0.3s ease;
        }
        .rating {
          display: flex;
          align-items: center;
          font-size: var(--MP2Size);
          font-weight: var(--regular);
          color: var(--textLight);
          img {
            margin-right: 5px;
            height: 12px;
          }
        }
      }
    }
    .browse {
      background-color: var(--primaryColorOrange);
      font-size: var(--MH5Size);
      font-weight: var(--semi-bold);
      line-height: 22px;
      padding: 10px 31px;
      border: none;
      border-radius: 4px;
      color: white;
    }
  }

  /* Pricing  */

  .prizing {
    background-color: #f5f6f9;
    padding: 38px 0;
    text-align: center;
    color: var(--textDark);
    h2 {
      font-size: var(--MH2Size);
      font-weight: var(--bold);
      margin-bottom: 12px;
      line-height: 36px;
    }
    p {
      width: 100%;
      color: var(--textLight);
      font-size: var(--MP1Size);
      font-weight: var(--regular);
      line-height: 22px;
    }
    .plans {
      margin-top: 28px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      .plan {
        background-color: white;
        display: flex;
        flex-direction: column;
        flex: 1;
        .subscription {
          padding: 42px 0 22px 0;
          border-bottom: 1px solid var(--stroke3);
          .time {
            font-size: var(--MH4Size);
            font-weight: var(--medium);
            line-height: 24px;
            margin-bottom: 6px;
          }
          .prize {
            font-size: var(--MH3Size);
            font-weight: var(--MH3SemiBold);
            line-height: 28px;
          }
        }
        .recommended {
          padding: 11px 0 22px 0;
          background-color: var(--primaryColorOrange);
          color: white;
          border-color: var(--primaryColorOrange);
        }
        .recommended::before {
          content: "RECOMMENDED";
          font-size: var(--MH6Size);
          font-weight: var(--semi-bold);
          line-height: 20px;
        }
        .flexbox {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
          .services {
            padding: 18px 16px 28px 16px;
            .DYFovCLS {
              font-size: var(--MP1Size);
              font-weight: var(--regular);
              line-height: 22px;
              color: var(--textLight);
            }
            .sList {
              margin-top: 17px;
              display: flex;
              flex-direction: column;
              gap: 12px;
              p {
                img {
                  margin-right: 16px;
                  height: 28px;
                }
                border: 1px solid var(--stroke3);
                padding: 17px;
                width: 100%;
                display: flex;
                align-items: center;
                border-radius: 6px;
              }
            }
          }
          .bookNow {
            position: relative;
            display: block;
            font-size: var(--MH4Size);
            font-weight: var(--semi-bold);
            color: var(--primaryColorOrange);
            line-height: 24px;
            text-align: center;
            padding: 12px 0;
            margin: 0 30px 30px;
            border: 1px solid var(--primaryColorOrange);
            background: transparent;
            border-radius: 4px;
          }
          .bookNow::after {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            content: url("/assets/arrow.png");
            height: 100%;
            width: 50px;
            border-radius: 0 4px 4px 0;
            background-color: var(--primaryColorOrange);
          }
        }
      }
      .recomm {
        background-color: white;
        color: white;
      }
      .recomm::after {
        background-color: var(--primaryColorOrange);
      }
    }
  }

  /* Testimonials */

  .customersReview {
    color: var(--textDark);
    line-height: 36px;
    margin: 70px 7px;
    text-align: center;

    h2 {
      font-size: var(--MH2Size);
      font-weight: var(--bold);
      hr {
        opacity: 0;
      }
    }
    .testimonials {
      margin: 52px 0 18px 0;
      .customer {
        margin: auto;
        padding: 0 10px 10px 10px;
        border: 1px solid var(--stroke2);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .profilePic {
          height: 48px;
          width: 48px;
          overflow: hidden;
          background-color: var(--secondaryColorYellow);
          border: none;
          border-radius: 50%;
          margin-top: -24px;
          box-shadow: 0 40px 60px #edca8842;
          /* object-fit: contain; */
          img {
            width: 48px;
            margin: 6px 0 0 -5px;
          }
        }
        p {
          margin: 18px 0 10px 0;
          font-size: var(--MH6Size);
          font-weight: 500;
          font-style: italic;
          line-height: 16px;
          color: var(--textLight);
        }
        .custName {
          font-size: var(--MH7Size);
          line-height: 16px;
          font-weight: var(--MH7SemiBold);
        }
        .role {
          font-size: var(--MP3Size);
          line-height: 16px;
          margin: 0;
          color: var(--textLight);
          font-style: normal;
        }
      }
    }
    .slider {
      display: flex;
      justify-content: center;
      gap: 5px;
      padding: 3px;

      .round {
        border: 1px solid var(--stroke2);
        border-radius: 100%;
        height: 12px;
        width: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .selected {
        background-color: var(--primaryColorOrange);
        height: 7px;
        width: 7px;
        border-radius: 50%;
      }
    }
  }

  /* Newsletter */

  .subscribeSection {
    .subscribe {
      border: 4px solid var(--primaryColorGreen2);
      border-radius: 8px;
      padding: 28px 0;
      text-align: center;
      color: #d4eee9;
      h4 {
        font-size: var(--MH4Size);
        font-weight: var(--bold);
        line-height: 24px;
        margin-bottom: 6px;
      }
      p {
        font-size: var(--MP2Size);
        font-weight: var(--regular);
        margin-bottom: 18px;
      }
    }
    .email {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      input {
        background: url(/assets/email.png);
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 16px;
        font-size: 16px;
        width: 80%;
        border: 1px solid var(--primaryColorGreen2);
        border-radius: 4px;
        padding: 14px 34px;
        font-size: var(--MP2Size);
        font-weight: var(--regular);
      }
      ::placeholder {
        color: var(--primaryColorGreen2);
      }
      .submit {
        font-size: var(--MH5Size);
        font-weight: var(--MH5SemiBold);
        color: white;
        line-height: 22px;
        padding: 10px 28px;
        margin-top: 22px;
        border-radius: 4px;
        border: none;
        background-color: var(--primaryColorOrange);
      }
    }
  }

  /* Footer (Contact Form) */

  .contactForm {
    margin: 70px 18px 38px 18px;
    background-image: url(/assets/Shapes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    display: grid;
    grid-template-columns: 1fr;
    .contactDesc {
      padding: 0;
      flex: 1;
      h2 {
        font-size: var(--MH2Size);
        font-weight: var(--bold);
        line-height: 36px;
      }
      p {
        margin-top: 12px;
        color: var(--textLight);
        font-size: var(--MP1Size);
        font-weight: var(--regular);
        line-height: 22px;
      }
    }
    .formSec {
      margin-top: 28px;
      form {
        padding: 28px 23px;
        margin: 0;
        background: white;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border: none;
        border-radius: 3px;
        box-shadow: 0 81px 105px #3333331a;
        .contactField {
          padding: 8px 12px;
          border: 1px solid var(--stroke2);
          border-radius: 3px;
          font-size: var(--MP2Size);
          line-height: 20px;
          font-weight: var(--regular);
        }
        .checkDiv {
          display: flex;
          align-items: center;
          gap: 4px;
          input[type="checkbox"] {
            height: 12px;
            width: 12px;
            border-radius: 4px;
            border: 1px solid var(--stroke2);
          }
          p {
            font-size: var(--MP2Size);
            font-weight: var(--regular);
            line-height: 20px;
            color: var(--textLight);
            span {
              color: var(--primaryColorOrange);
            }
          }
        }
        button[type="submit"] {
          width: fit-content;
          font-size: var(--MH6Size);
          background-color: var(--primaryColorOrange);
          color: white;
          border-radius: 4px;
          font-weight: var(--MH6SemiBold);
          line-height: 26px;
          padding: 5px 11px;
          box-shadow: 0 14px 20px #2046641a;
        }
      }
    }
  }
  /* Footer (CopyRight) */

  footer {
    color: var(--textLight);
    font-size: var(--MP1Size);
    font-weight: var(--regular);
    line-height: 22px;
    .row{
      flex-direction: column;
      align-items: start;
      gap: 8px;
      
      .logo {
        height: 24px;
      }
      .socialIcons {
        display: flex;  
        gap: 20px;
      }
    }
  }
}
