@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --inter : "Inter", sans-serif;

    /* Font Weight */
    --extra-bold:800;
    --bold:700;
    --semi-bold:600;
    --medium:500;
    --regular:400;

    /* Heading Web */
    --WH1Size: 70px;
    --WH2Size: 50px;
    --WH3Size: 35px;
    --WH4Size: 26px;
    --WH5Size: 24px;
    --WH6Size: 20px;
    --WH7Size: 18px;
    --WH8Size: 16px;
    --WH9Size: 14px;

    --WH1LineHeight:80px;
    --WH2LineHeight:60px;
    --WH3LineHeight:44px;
    --WH4LineHeight:36px;
    --WH5LineHeight:34px;
    --WH5LineHeightSM:28px;
    --WH6LineHeight:30px;
    --WH7LineHeight:28px;
    --WH8LineHeight:26px;
    --WH9LineHeight:24px;

    /* Web Paragraph */
    --WP1Size: 18px;
    --WP2Size: 16px;
    --WP3Size: 14px;

    /* web Paragraph line height */
    --WP1LineHeight:28px;
    --WP2LineHeight:26px;
    --WP3LineHeight:24px;

    /* Special Text Web */
    --homeMadeApple: "Homemade Apple", cursive;
    --wH1SpecialTextSize: 32px;
    --wH2SpecialTextSize: 18px;



    /* Heading Tablet*/
    --TH1Size: 50px;
    --TH2Size: 38px;
    --TH3Size: 27px;
    --TH4Size: 21px;
    --TH5Size: 18px;
    --TH6Size: 15px;
    --TH7Size: 12px;


    /* P1LineHeight */
    --TH1LineHeight:60px;
    --TH2LineHeight:48px;
    --TH3LineHeight:37px;
    --TH4LineHeight:31px;
    --TH5LineHeight:28px;
    --TH6LineHeight:25px;
    --TH7LineHeight:24px;

    /* Paragraph Tablet */
    --TP1Size: 16px;
    --TP2Size: 13px;
    --TP3Size: 10px;

    /* Heading Mobile */
    --MH1Size: 36px;
    --MH2Size: 26px;
    --MH3Size: 18px;
    --MH4Size: 14px;
    --MH5Size: 12px;
    --MH6Size: 10px;
    --MH7Size: 8px;

    --MH1LineHeight:46px;
    --MH2LineHeight:36px;
    --MH3LineHeight:28px;
    --MH4LineHeight:16px;
    --MH4LineHeightLarge:24px;
    --MH5LineHeight:22px;
    --MH6LineHeight:20px;
    --MH7LineHeight:16px;

    /* Paragraph Mobile */
    --MPRegular: 400;
    --MP1Size: 12px;
    --MP2Size: 10px;
    --MP3Size: 8px;

    --MP1LineHeight:22px;
    --MP2LineHeight:20px;
    --MP3LineHeight:18px;

    /* Special Text Mobile */
    --MH1SpecialTextSize: 16px;
    --MH2SpecialTextSize: 10px;



    /* Text Color */
    --textDark: #1c110a;
    --textLight: #576165;

    /* Colors */
    --primaryColorOrange: #ff9f66;
    --primaryColorBaseLight: #FFB081;
    --primaryColorLight:#FFF1E8;
    --secondaryColorYellow: #EDC988;
    --primaryColorGreen: #258675;
    --primaryColorGreen2: #45A090;
    --secondaryColorPink: #FEAEA3;
    --secondaryColorDeepPink: #FF7D6B;
    --stroke: #B0B4C0;
    --stroke2: #CFCFCF;
    --stroke3: #F4F5F7;
}





/* b.btn {
    dfkjlkdfjlsdjfl;
    border-radius: var(---radius)

    &__icon {}

    &--outline {}
    &--solid {}
} */